<fieldset>
  <div class="field"> <%= f.label :name, "Name:" %><br>
  <%= f.text_field :name %></div>

  <div class="field"><%= f.label :release_date, "Released:" %><br>
  <%= f.text_area :release_date %></div>
</fieldset>