<div class="artistList">
    <h1>Artists</h1>
    <% if artists.empty? %>
        <p>No Artists currently added</p>
    <% else %>
        <ul>
            <% artists.each do |artist| %>
                <li>
                    <%= image_tag artist.avatar.url(:thumb) %>
                    <%= link_to artist.name, artist_path(artist) %>
                </li>
            <% end %>
        </ul>
    <% end %>
</div>