<div class="artistList">
    <h1>Artists</h1>
    <% if artists.empty? %>
        <p>No Artists currently added</p>
    <% end %>
    <div id="artistList"></div>

</div>

<script id="artistLi-template" type="text/x-handlebars-template">
    <ul>
    {{#each this}}
        <li>
            <img src="{{avatar}}" alt="{{name}}">
            <br>
            <a href="/artists/{{id}}">{{name}}</a>
            {{#if borrow_request}}
            {{else}}
            :   <a href="/borrow_requests/new/{{id}}">Borrow</a> 
            {{/if}}
        </li>
    {{/each}}
    </ul>
</script>