<div class="artistData">
    <%= image_tag artist.avatar.url(:icon) %>
    <h1><%= artist.name %></h1>
    <p><%= artist.bio %></p>
    <% if has_genres?(artist) %>
        <p>Genres: 
            <ul>
                <% artist.genres.each do |genre| %>
                    <li><%= genre.name %></li>
                <% end %>
            </ul>
        </p>
    <% end %>
</div>
