<%= render partial: "artist_list", locals: {artists: @artists} %>

    
    <br></br>
    
    <div class="options">
        <%= link_to "Add Artist", new_artist_path %>
    </div>


<br></br>

<div class="links">
    <%= link_to "Back to User", user_path(current_user) %>
    <%= link_to("All Albums", albums_path) %>
</div>

