<div class="artistList">
    <h2>Artists</h2>
    <% if @artists.empty? %>
        <p>No Artists currently added</p>
    <% else %>
        <ul>
            <% @artists.each do |artist| %>
                <li><%= link_to artist.name, artist_path(artist) %></li>
            <% end %>
        </ul>
    <% end %>
    
    <br></br>
    
    <%= link_to "Add Artist", new_artist_path %>
    
</div>

<br></br>

<div class="links">
    <%= link_to "Back to User", user_path(current_user) %>
    <%= link_to("All Albums", albums_path) %>
</div>

