<div class="artistData">
    <h1><%= @artist.name %></h1>
    <p><%= @artist.bio %></p>
</div>

<br></br>

<div class="albumList">
    <h2>Albums</h2>
    <% if @artist.albums.empty? %>
        <p>No Albums currently added</p>
    <% else %>
        <ul>
            <% @artist.albums.each do |album| %>
                <li><%= link_to album.name, album_path(album) %></li>
            <% end %>
        </ul>
    <% end %>
</div>

<br></br>

<div class="links">
    <%= link_to "Back to User", user_path(current_user) %>
</div>