<div class="userSongList">
    <h3>Users with Access</h3>
    <% if requests.empty? %>
        <h4>No Users at this time</h4>
    <% else %>
        <ul>
            <% requests.each do |request| %>
               <% if request.isApproved %>
                    <li>User: <%=User.find(request.requester_id).email%> </li>
               <% end %>
            <% end %>
        </ul>
    <% end %>
    <h3>Access Requests</h3>
    <% if requests.empty? %>
        <h4>No Access Requests at this time</h4>
    <% else %>

        <ul>
            <% requests.each do |request| %>
               <% if request.isApproved == false %>
                    <li>User: <%=User.find(request.requester_id).email%>
                    : <%= link_to "Approve", "/access_requests/approve/#{request.id}" %></li>
               <% end %>
            <% end %>
        </ul>
    <% end %>
</div>