<div class="userSongList">
    <% if requests.find {|r| r.isApproved == true} %>
        <h3>Users with Access</h3>
        <ul>
            <% requests.each do |request| %>
               <% if request.isApproved %>
                    <li>User: <%=User.find(request.requester_id).email%> </li>
               <% end %>
            <% end %>
        </ul>
    <% end %>
    <% if requests.find {|r| r.isApproved == false} %>
        <h3>Access Requests</h3>
        <ul>
            <% requests.each do |request| %>
                <% if request.isApproved == false %>
                    <li>User: <%=User.find(request.requester_id).email%>
                    : <%= link_to "Approve", "/access_requests/approve/#{request.id}" %></li>
                <% end %>
            <% end %>
        </ul>
    <% end %>
</div>