<div class="userSongList">
    <h2>Access Requests</h2>
    <% if requests.empty? %>
        <p>No Access Requests at this time</p>
    <% else %>

        <ul>
            <% requests.each do |request| %>
                <li>User: <%=User.find(request.requester_id).email%> </li>
                <li><%= link_to "Approve", "/access_requests/approve" , actionRequestId: request.id %></li>
            <% end %>
        </ul>
    <% end %>
</div>