<div class="requestList">
    <% if requests.find {|r| r.isAccepted == true} %>
        <h3>On Loan</h3>
        <ul>
            <% requests.each do |request| %>
               <% if request.isAccepted %>
                    <li><%=Artist.find(request.artist_id).name%> since: <%= request.updated_at.strftime("%d/%m/%Y") %></li>
               <% end %>
            <% end %>
        </ul>
    <% end %>
    <% if requests.find {|r| r.isAccepted == false} %>
        <h3>Borrow Requests</h3>
        <ul>
            <% requests.each do |request| %>
                <% if request.isAccepted == false %>
                    <li><%=Artist.find(request.artist_id).name%>
                    : <%= link_to "Lend Artist", "/borrow_requests/accept/#{request.id}" %></li>
                <% end %>
            <% end %>
        </ul>
    <% end %>
</div>