<div class="userArtistList">
    <h2><%= @user.email %>'s Artists</h2>
    <% if @user.artists.empty? %>
        <p>No Artists currently added</p>
    <% else %>
        <ul>
            <% @user.artists.each do |artist| %>
                <li><%= link_to artist.name, artist_path(artist) %></li>
            <% end %>
        </ul>
    <% end %>
</div>