<div class="artistList">
    <h2>Your Artists</h2>
    <% if current_user.artists.empty? %>
        <p>No Artists currently added</p>
    <% else %>
        <ul>
            <% current_user.artists.each do |artist| %>
                <li><%= link_to artist.name, artist_path(artist) %></li>
            <% end %>
        </ul>
    <% end %>
</div>