<%= render partial: "song_data", locals: {song: @song} %>

<br></br>

<div class="links">
    <%= link_to "Back to Artist", artist_path(@song.artist) %>
    <%= link_to "Back to Album", album_path(@song.album) %>
    <%= link_to "Back to User", user_path(current_user) %>
</div>