<div class="songList">
    <h2>Songs</h2>
    <% if has_songs?(album) %>
        <p>Album is empty</p>
    <% end %>
    <div id="songList" album-id="<%= album.id %>"></div>
</div>

<script id="songLi-template" type="text/x-handlebars-template">
    <ul>
    {{#each this}}
        <li>
            <a href="/albums/{{album_id}}/songs/{{id}}">{{name}} {{time}}</a>
        </li>
    {{/each}}
    </ul>
</script>