<div class="albumList">
    <h2>Albums</h2>
    <% if @albums.empty? %>
        <p>No Albums currently added</p>
    <% else %>
        <ul>
            <% @albums.each do |album| %>
                <li><%= link_to album.name, album_path(album) %></li>
            <% end %>
        </ul>
    <% end %>
    
    <br></br>
    
    <%= link_to "Add Album", new_album_path %>
    
</div>

<br></br>

<div class="links">
    <%= link_to "Back to User", user_path(current_user) %>
    <%= link_to("All Artists", artists_path) %>
</div>