// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.songList, .songData, {
	font-family: "Arial Black", Serif;
    overflow: auto;
    padding-left: 20px;
}