.userArtistList {
    font-family: "Arial Black", Serif;
    float: left;
    display: block;
    padding-left: 40px;
}

.userSongList {
    font-family: "Arial Black", Serif;
    float: right;
    display: block;
    padding-right: 80px;
}

.userData {
    font-family: "Arial Black", Serif;
    overflow: auto;
    padding-left: 20px;
    
}
.userIndex {
    overflow: auto;
}

.userList {
    font-family: "Arial Black", Serif;
    overflow: auto;
    padding-left: 20px;
    float: left;
    width: 250px;
    
}