<h1>Album Organizer</h1>

<p>A Ruby on Rails application that allows users to create accounts from which they can create their own Artists/Albums/Songs/Genres. Users may also view all created data from other users, change or delete their own, or even mark songs they have contributed to their own favorite list.</p>

<%= link_to("Sign Out", destroy_user_session_path, :method => 'delete') %>